body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-family: 'Sacramento', sans-serif;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

hr {
    border-color: grey;
    border-style: none;
    border-top-style: dotted;
    border-width: 8px;
    width: 8%;
    margin: 100px auto 100px auto;
}

.bob-img {
    margin-top: 50px;;
}

.intro-text {
    margin: auto 25% auto 25%;
    line-height: 2;
}

.top-container {
    background-color: #E4F9F5;
    padding-top: 100px;
    position: relative;
}

.bottom-container {
    background-color: #66bfbf;
    position: relative;
    padding: 50px 0 20px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2; 
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 25%;
    top:50px;
}

.bottom-cloud {
    position: absolute;
    left: 25%;
    bottom: 300px;
}

a {
    color:  #11999e;
    margin: 10px 20px;
    text-decoration: none; 
}

a:hover {
    color: #Eaf6f6
}

.code-icon {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chilli-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.closing {
    margin: auto 25% auto 25%;
    line-height: 2;
}

.end {
    color: #Eaf6f6;
    padding: 50px;
    font-size: .75rem;
    padding: 20px 0;
}

 .btn {
    margin: 100px auto 100px auto;
    background-color: #18919c; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
  }
  
  .btn:hover {
      color: green;
  } 